.u-section-1 .u-sheet-1 {
  min-height: 2911px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2822px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-text-1 {
  margin: 0 248px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2327px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 148px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 75px;
    margin-right: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 80px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
    margin-right: 0;
  }
}